# npm / bun
node_modules/

# minetrack
minetrack.log
.env

# build artifacts
dist/
frontend/dist/
.parcel-cache/

# influxdb / sqlite
database.sql
database.sql-journal

# macOS
.DS_Store

# bun
bun.lockb
